<% provide(:title, 'About') %>
<div class="center hero-unit">
	<h1>Tell me About AIM</h1>

	<h2>
		This is the home page for AIM!
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>