<% provide(:title, 'Help') %>
<div class="center hero-unit">
	<h1>Help is on the way!</h1>

	<%= video_tag("AIMScratch.mp4", :size => "800x535", :controls => true) %>

  <h2>
		Placeholder video.		
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>