<% provide(:title, 'Help') %>
<div class="center hero-unit">
  <h1>Learn more about AIM</h1>

  <iframe src="//player.vimeo.com/video/73227582" width="500" height="335" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/73227582">AIM Scratch Video</a> from <a href="http://vimeo.com/user20457749">Joel Mikkelsen</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

   <h2>
    Placeholder video.    
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>