<% provide(:title, 'Projects') %>

<h1>All projects</h1>

<%= link_to "New Project", newproject_path, class: "btn btn-large btn-primary" %>

<% will_paginate %>

<ul class="projects">
	<%= render @projects %>
	<li>Projects should go here, by title </li>
	<li>and here</li>
    <li>and here</li>
    <li>also here</li>
</ul>

<%#= @user.collect_project_titles %>

<% will_paginate %>